<div class="search-container container" ng-controller="SearchController as search">

  <h3>Find a recipe<span ng-hide="loggedIn"> from other users</span>:</h3>
  <div class="well">
    <form name="find-recipes" ng-submit="findRecipes()">
      <label>Recipe Text: </label>
      <input type="text" name="recipe-search-text" ng-model="find.searchText" required>
      
      <div ng-show="loggedIn">
        <input type="radio" ng-model="find.onlyOwn" ng-value=true>
        <label>Just my recipes!</label><br/>
        <input type="radio" ng-model="find.onlyOwn" ng-value=false>
        <label>Everyone's recipes!</label><br/>
      </div>
      <button class="btn btn-default">Submit!</button>
    </form>
    <div>
      <form>
        <button class="btn btn-default" ng-click="allRecipes()">Get all available recipes!</button>
      </form>
    </div>
  </div>


  <p ng-show="searchResults.length">Here are your recipe results:</p>
  <ul class="row">
    <li ng-repeat="recipe in searchResults">   <!-- "| orderBy:main.filterType" format for ordering-->
      <div ng-click="openRecipeModal(recipe)" class="col-md-6 container">
        <div resultCard recipe="recipe" currentUser="currentUser"></div>
      </div>
    </li>
  </ul>
</div>
